.env
.git
urlshortener/app/models/__pycache__
urlshortener/app/models/__pycache__
urlshortener/app/routes/__pycache__
urlshortener\app\models\__pycache__
urlshortener\app\models\__pycache__
urlshortener\app\routes\__pycache__